<mat-stepper orientation="vertical" [linear]="true" #stepper>
  <!--Generelles Formular für alle Medien-->
  <mat-step [stepControl]="genralFormGroup">
    <form [formGroup]="genralFormGroup">
      <ng-template matStepLabel class="stepLabel" class="stepComp">
        <span>Angaben zur Meldung</span>
        <button
          class="buttonClose"
          mat-dialog-close
          mat-icon-button
          color="primary"
          aria-label="Dialog schließen"
        >
          <mat-icon>close</mat-icon>
        </button>
      </ng-template>

      <span class="stepHead">Art der Meldung</span>
      <mat-chip-listbox
        aria-label="typeSelection"
        formControlName="type"
        class="stepComp"
      >
        <mat-chip-option color="primary">Fehler</mat-chip-option>
        <mat-chip-option color="primary"
          >Verbesserungsvorschlag</mat-chip-option
        >
        <mat-chip-option color="primary">Inhaltsergänzung</mat-chip-option>
      </mat-chip-listbox>

      <span class="stepHead">Art des Mediums</span>
      <mat-chip-listbox
        aria-label="typeSelection"
        formControlName="learningElement"
        class="stepComp"
      >
        <mat-chip-option color="primary">Skript</mat-chip-option>
        <mat-chip-option color="primary">Video</mat-chip-option>
      </mat-chip-listbox>

      <mat-form-field appearance="fill" class="stepComp">
        <mat-label>Modul</mat-label>
        <mat-select formControlName="modul" required>
          <mat-option *ngFor="let modul of moduls" [value]="modul.value">
            {{ modul.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div>
        <button
          mat-raised-button
          matStepperNext
          color="primary"
          [disabled]="!genralFormGroup.valid"
          (click)="
            genrateForm(
              genralFormGroup.value.type,
              genralFormGroup.value.learningElement,
              genralFormGroup.value.modul
            )
          "
        >
          Weiter <mat-icon>arrow_forward_ios</mat-icon>
        </button>
      </div>
    </form>
  </mat-step>

  <!--Formularname für spezifisiches Medium-->
  <ng-container *ngIf="element == ''">
    <mat-step>
      <ng-template matStepLabel class="stepLabel"
        >Angaben zum Element</ng-template
      >
    </mat-step>
  </ng-container>

  <!--Formular für Skript-->
  <ng-container *ngIf="element == 'Skript'">
    <mat-step [stepControl]="elementFormGroup">
      <form [formGroup]="elementFormGroup">
        <ng-template matStepLabel class="stepLabel"
          >Angaben zum Skript</ng-template
        >

        <div>
          <mat-form-field appearance="fill" floatLabel="always">
            <mat-label>Seitennummer</mat-label>
            <input
              matInput
              type="number"
              formControlName="pageNumber"
              min="1"
              max="400"
              required
            />
            <span matTextPrefix>S.</span>
            <mat-hint
              *ngIf="
                !elementFormGroup.controls['pageNumber'].valid &&
                (elementFormGroup.controls['pageNumber'].touched ||
                  elementFormGroup.controls['pageNumber'].dirty)
              "
              class="error"
              align="end"
              >Wert zwischen 1 - 400!</mat-hint
            >
          </mat-form-field>
          <span class="spacer"></span>
          <mat-form-field appearance="fill" floatLabel="always">
            <mat-label>Kapitelnummer</mat-label>
            <input
              matInput
              type="number"
              formControlName="chapter"
              min="1"
              max="20"
              required
            />
            <span matTextPrefix>Ch. </span>
            <mat-hint
              *ngIf="
                !elementFormGroup.controls['chapter'].valid &&
                (elementFormGroup.controls['chapter'].touched ||
                  elementFormGroup.controls['chapter'].dirty)
              "
              class="error"
              align="end"
              >Wert zwischen 1 - 20!</mat-hint
            >
          </mat-form-field>
        </div>

        <span
          class="stepComp"
          *ngIf="
            report.type == 'Fehler' || report.type == 'Verbesserungsvorschlag'
          "
          >Bitte beschreiben sie uns den gefundenen {{ report.type }}:</span
        >
        <span class="stepComp" *ngIf="report.type == 'Inhaltsergänzung'"
          >Bitte beschreiben sie uns die gefundene {{ report.type }}:</span
        >
        <div>
          <mat-form-field appearance="fill" class="textarea">
            <mat-label>Beschreibung</mat-label>
            <textarea
              matInput
              #textarea
              class="textarea"
              formControlName="description"
              maxlength="500"
              required
            ></textarea>
            <mat-hint align="end">{{ textarea.value.length }}/500</mat-hint>
          </mat-form-field>
        </div>

        <span class="stepComp"
          >Optionale Auswahl einer Tabelle oder Abbildung</span
        >
        <div class="stepComp">
          <mat-button-toggle-group name="illTab" aria-label="Optional">
            <mat-button-toggle color="primary" (click)="inputTab()"
              >Tabelle</mat-button-toggle
            >
            <mat-button-toggle color="primary" (click)="inputIll()"
              >Abbildung</mat-button-toggle
            >
          </mat-button-toggle-group>
        </div>

        <div>
          <ng-container *ngIf="illOrTab == 1">
            <mat-form-field appearance="fill" floatLabel="always">
              <mat-label>Tabellennummer</mat-label>
              <input
                matInput
                type="number"
                formControlName="tabOrIllNumber"
                min="1"
                max="100"
              />
              <span matTextPrefix>Tab.</span>
              <mat-hint
                *ngIf="
                  !elementFormGroup.controls['tabOrIllNumber'].valid &&
                  (elementFormGroup.controls['tabOrIllNumber'].touched ||
                    elementFormGroup.controls['tabOrIllNumber'].dirty)
                "
                class="error"
                align="end"
                >Wert zwischen 1 - 100!</mat-hint
              >
            </mat-form-field>
          </ng-container>

          <ng-container *ngIf="illOrTab == 2">
            <mat-form-field appearance="fill" floatLabel="always">
              <mat-label>Abbildungsnummer</mat-label>
              <input
                matInput
                type="number"
                formControlName="tabOrIllNumber"
                min="1"
                max="100"
              />
              <span matTextPrefix>Abb.</span>
              <mat-hint
                *ngIf="
                  !elementFormGroup.controls['tabOrIllNumber'].valid &&
                  (elementFormGroup.controls['tabOrIllNumber'].touched ||
                    elementFormGroup.controls['tabOrIllNumber'].dirty)
                "
                class="error"
                align="end"
                >Wert zwischen 1 - 100!</mat-hint
              >
            </mat-form-field>
          </ng-container>
        </div>

        <div>
          <button mat-raised-button matStepperPrevious color="primary">
            Zurück <mat-icon>arrow_back_ios</mat-icon>
          </button>
          <span class="spacer"></span>
          <button
            mat-raised-button
            matStepperNext
            color="primary"
            [disabled]="!elementFormGroup.valid"
            (click)="
              addSkript(
                elementFormGroup.value.pageNumber,
                elementFormGroup.value.chapter,
                elementFormGroup.value.tabOrIllNumber,
                elementFormGroup.value.description
              )
            "
          >
            Weiter <mat-icon>arrow_forward_ios</mat-icon>
          </button>
        </div>
      </form>
    </mat-step>
  </ng-container>

  <!--Formular für das Medium Video-->
  <ng-container *ngIf="element == 'Video'">
    <mat-step [stepControl]="elementFormGroup">
      <form [formGroup]="elementFormGroup">
        <ng-template matStepLabel class="stepLabel"
          >Angaben zum Video</ng-template
        >

        <div class="stepComp">
          <mat-form-field appearance="fill">
            <mat-label>Videotitel</mat-label>
            <input
              matInput
              #titleInput
              formControlName="title"
              maxlength="20"
              minlength="1"
              placeholder="Titel des Video"
              required
            />
            <mat-hint align="end">{{ titleInput.value.length }}/20</mat-hint>
          </mat-form-field>
        </div>

        <span
          class="stepComp"
          *ngIf="
            report.type == 'Fehler' || report.type == 'Verbesserungsvorschlag'
          "
          >In welchem Zeitrahmen befindet sich ungefähr der
          {{ report.type }}:</span
        >
        <span class="stepComp" *ngIf="report.type == 'Inhaltsergänzung'"
          >In welchem Zeitrahmen befindet sich ungefähr die
          {{ report.type }}:</span
        >
        <mat-slider class="slider" min="0" max="3600">
          <input
            #timeStart
            matSliderStartThumb
            formControlName="timestampStart"
          />
          <input
            #timeEnd
            value="1800"
            matSliderEndThumb
            formControlName="timestampEnd"
          />
        </mat-slider>
        <br />
        <span class="bold stepComp"
          >von {{ calcTime(timeStart.valueAsNumber) }} bis
          {{ calcTime(timeEnd.valueAsNumber) }}</span
        >

        <div class="stepComp spaceTop">
          <mat-form-field appearance="fill">
            <mat-label>URL optional:</mat-label>
            <input
              matInput
              #urlInput
              formControlName="videoUrl"
              maxlength="50"
              minlength="1"
              placeholder="https://mycampus.iubh.de/..."
            />
            <mat-hint align="end">{{ urlInput.value.length }}/50</mat-hint>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="fill" class="textarea">
            <mat-label>Beschreibung</mat-label>
            <textarea
              matInput
              #textarea
              class="textarea"
              formControlName="description"
              maxlength="500"
              required
            ></textarea>
            <mat-hint align="end">{{ textarea.value.length }}/500</mat-hint>
          </mat-form-field>
        </div>

        <div>
          <button mat-raised-button matStepperPrevious color="primary">
            Zurück <mat-icon>arrow_back_ios</mat-icon>
          </button>
          <span class="spacer"></span>
          <button
            mat-raised-button
            matStepperNext
            color="primary"
            [disabled]="!elementFormGroup.valid"
            (click)="
              addVideo(
                elementFormGroup.value.title,
                elementFormGroup.value.timestampStart,
                elementFormGroup.value.timestampEnd,
                elementFormGroup.value.videoUrl,
                elementFormGroup.value.description
              )
            "
          >
            Weiter <mat-icon>arrow_forward_ios</mat-icon>
          </button>
        </div>
      </form>
    </mat-step>
  </ng-container>

  <mat-step>
    <ng-template matStepLabel class="stepLabel"
      >Eingabe Kontrollieren</ng-template
    >
    <p>Bitte kontrollieren Sie die eingegebenen Daten:</p>

    <div *ngIf="skriptAdded">
      <p>
        <b>Meldungsart:</b> {{ report.reportType }}<span class="spacer"></span
        ><b>Modul:</b> {{ report.module }}<span class="spacer"></span
        ><b>Medium:</b> Skript<br />
        <b>Beschreibung:</b><br />
        {{ report.description }}<br />
        <b>Seite:</b> {{ report.page }}<span class="spacer"></span
        ><b>Kapitel: </b> {{ report.chapter }}<br />
        <b>Abbildung:</b>
        {{ report.illustrationNumber > 0 ? report.illustrationNumber : "k.A."
        }}<span class="spacer"></span><b>Tabelle:</b>
        {{ report.tableNumber > 0 ? report.tableNumber : "k.A." }}
      </p>
    </div>

    <div *ngIf="videoAdded">
      <p>
        <b>Meldungsart:</b> {{ report.reportType }}<span class="spacer"></span
        ><b>Modul:</b> {{ report.module }}<span class="spacer"></span
        ><b>Medium:</b> Video<br />
        <b>Beschreibung:</b><br />
        {{ report.description }}<br />
        <b>Titel:</b> {{ report.videoTitle }}<span class="spacer"></span
        ><b>URL: </b> {{ report.videoURL }}<br />
        <b>Zeit beginn:</b> {{ calcTime(report.timestampStart)
        }}<span class="spacer"></span><b>Zeit ende:</b>
        {{ calcTime(report.timestampEnd) }}
      </p>
    </div>

    <div>
      <button mat-raised-button color="primary" matStepperPrevious>
        Zurück <mat-icon>arrow_back_ios</mat-icon>
      </button>
      <span class="spacer"></span>
      <button
        *ngIf="skriptAdded"
        mat-raised-button
        color="primary"
        (click)="postSkript(report)"
        mat-dialog-close
        matTooltip="Nach dem Speichern können die Daten nicht mehr verändert werden."
      >
        Speichern <mat-icon>save</mat-icon>
      </button>
      <button
        *ngIf="videoAdded"
        mat-raised-button
        color="primary"
        (click)="postVideo(report)"
        mat-dialog-close
        matTooltip="Nach dem Speichern können die Daten nicht mehr verändert werden."
      >
        Speichern <mat-icon>save</mat-icon>
      </button>
    </div>
  </mat-step>
</mat-stepper>
