<mat-toolbar class="header" color="primary">
  <span>IU Mitify</span>
  <a
    href="https://drive.google.com/uc?export=download&id=1dLxBFfkwVHbElHnfHARte-xpl_ijKhBb"
    download
  >
    <mat-icon
      class="icon"
      color="accent"
      aria-hidden="false"
      aria-label="Download Benutzerhandbuch"
      fontIcon="help"
    ></mat-icon>
  </a>
  <span class="spacer"></span>
  <span class="welcome">Willkommen {{ author }} </span>
  <button
    mat-mini-fab
    color="accent"
    (click)="logOut()"
    aria-label="logout from server"
  >
    <mat-icon>login</mat-icon>
  </button>
</mat-toolbar>
<button
  *ngIf="logedIn"
  mat-raised-button
  color="primary"
  class="reportButton"
  (click)="openDialog()"
>
  Meldung erstellen <mat-icon>flag</mat-icon>
</button>
