<div class="container">
    <h2>Video:</h2>
    <div class="wrapper">
        <h4>Lokalisierung:</h4>
        <p>
            Videotitel: {{report.videoTitle}}<span class="spacer"></span>Video URL: {{report.videoURL}}<span class="spacer"></span>
            <!-- Zeitstempel Beginn: {{report.calcTimeToString(report.timestampStart)}}<span class="spacer"></span>Zeitstempel Ende: {{report.calcTimeToString(report.timestampEnd)}} -->
        </p>
    </div>
    <div class="wrapper">
        <h4>Beschreibung:</h4>
        <p>
            <span class="topSpacer"></span>
            {{report.description}}
        </p>
    </div>
    <div class="wrapper lastWrapper">
        <h4>Historie:</h4>
        <!-- <p>
            Erstellungsdatum: {{report.calcDateAndTime(report.reportDate)}}<span class="spacer"></span>
            <ng-container *ngIf="report.grantedDate != null">In Bearbeitungsdatum: {{report.calcDateAndTime(report.grantedDate)}}</ng-container><span class="spacer"></span>
            <ng-container *ngIf="report.completedDate != null && report.grantedDate != null">Fertigstellungsdatum: {{report.calcDateAndTime(report.completedDate)}}</ng-container>
            <ng-container *ngIf="report.completedDate != null && report.grantedDate == null">Ablehnungsdatum: {{report.calcDateAndTime(report.completedDate)}}</ng-container>
        </p> -->
    </div>
</div>