<div class="container">
  <h2>Video:</h2>
  <div class="wrapper">
    <h4>Lokalisierung:</h4>
    <p>
      Videotitel: {{ report.videoTitle }}<span class="spacer"></span>Video URL:
      {{ report.videoURL }}<span class="spacer"></span>
      Zeitstempel Beginn: {{calcTimeToString(report.timestampStart)}}<span class="spacer"></span>Zeitstempel Ende: {{calcTimeToString(report.timestampEnd)}}
    </p>
  </div>
  <div class="wrapper">
    <h4>Beschreibung:</h4>
    <p>
      <span class="topSpacer"></span>
      {{ report.description }}
    </p>
  </div>
  <div class="wrapper lastWrapper">
    <h4>Historie:</h4>
    <p>
            Erstellungsdatum: {{calcDateAndTime(report.report_date)}}<span class="spacer"></span>
            <ng-container *ngIf="report.granted_date != null">In Bearbeitungsdatum: {{calcDateAndTime(report.granted_date)}}</ng-container><span class="spacer"></span>
            <ng-container *ngIf="report.completed_date != null && report.granted_date != null">Fertigstellungsdatum: {{calcDateAndTime(report.completed_date)}}</ng-container>
            <ng-container *ngIf="report.completed_date != null && report.granted_date == null">Ablehnungsdatum: {{calcDateAndTime(report.completed_date)}}</ng-container>
        </p>
  </div>
</div>
