<div color="primary" class="header">
  <h2>Abgeschlossene Meldungen</h2>
</div>

<div class="loadingButton" *ngIf="!loadClosedReports">
  <button mat-raised-button color="accent" (click)="loadClosedReportsDB()">
    <mat-icon
      aria-hidden="false"
      aria-label="Lade geschlossene Meldungen"
      fontIcon="sync"
    ></mat-icon>
    Lade Meldungen
  </button>
</div>

<div class="mat-elevation-z8 tableContainer" *ngIf="loadClosedReports">
  <mat-form-field class="inputField">
    <mat-label>Filter</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="z.B.: Big Data"
      #input
    />
  </mat-form-field>

  <table
    mat-table
    multiTemplateDataRows
    [dataSource]="dataSource"
    matSort
    (matSortChange)="announceSortChange($event)"
  >
    <!-- id Column -->
    <ng-container matColumnDef="id">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by id"
      >
        ID
      </th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <!-- reportType Column -->
    <ng-container matColumnDef="reportType">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by reportType"
      >
        Art
      </th>
      <td mat-cell *matCellDef="let element">{{ element.reportType }}</td>
    </ng-container>

    <!-- status Column -->
    <ng-container matColumnDef="status">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by status"
      >
        Satus
      </th>
      <td mat-cell *matCellDef="let element">{{ element.status }}</td>
    </ng-container>

    <!-- priority Column -->
    <ng-container matColumnDef="priority">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by priority"
      >
        Priorität
      </th>
      <td mat-cell *matCellDef="let element">
        {{ priorityString(element.priority) }}
      </td>
    </ng-container>

    <!-- module Column -->
    <ng-container matColumnDef="module">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by module"
      >
        Modul
      </th>
      <td mat-cell *matCellDef="let element">{{ getModule(element.university_module_id) }}</td>
    </ng-container>

    <!-- button to expand -->
    <ng-container matColumnDef="expand">
      <th mat-header-cell *matHeaderCellDef aria-label="row actions">
        Mehr Info
      </th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          aria-label="expand row"
          (click)="
            expandedElement = expandedElement === element ? null : element;
            $event.stopPropagation()
          "
        >
          <mat-icon *ngIf="expandedElement !== element"
            >keyboard_arrow_down</mat-icon
          >
          <mat-icon *ngIf="expandedElement === element"
            >keyboard_arrow_up</mat-icon
          >
        </button>
      </td>
    </ng-container>

    <!-- row for expand-->
    <ng-container matColumnDef="expandedDetail">
      <td
        mat-cell
        *matCellDef="let element"
        [attr.colspan]="displayedColumnsWithExpand.length"
      >
        <div
        *ngIf="element.page > 0"
        class="example-element-detail"
        [@detailExpand]="
          element == expandedElement ? 'expanded' : 'collapsed'
        "
      >
        <app-skript-detail-student
          [report]="element"
        ></app-skript-detail-student>
        </div>

        <div
          *ngIf="element.page == null"
          class="example-element-detail"
          [@detailExpand]="
            element == expandedElement ? 'expanded' : 'collapsed'
          "
        >
          <app-video-detail-student
            [report]="element"
          ></app-video-detail-student>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsWithExpand"></tr>
    <tr
      mat-row
      *matRowDef="let element; columns: displayedColumnsWithExpand"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element"
    ></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: ['expandedDetail']"
      class="example-detail-row"
    ></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">
        Kein Eintrag passt zum gesuchten Filter "{{ input.value }}"
      </td>
    </tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 25]"
    aria-label="Wähle eine Seite mit Meldungen"
  ></mat-paginator>
</div>
