.stretch {
    width: 100%;
}

.middle {
    margin-left: auto;
    margin-right: auto;
}

.header {
    margin-bottom: 20px;
}

.loginForm {
    margin-left: 20px;
    margin-right: 20px;
}

.footer {
    margin-bottom: 6px;
}